<?xml version="1.0"?>
<model>
  <name> U_map </name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name> s m a r t r o b o </name>
    <email>YOUR EMAIL HERE</email>
  </author>
  <description>
    U-map ground for RoboRace mobile robots competition
  </description>
</model>

